<div class="row">
  <div class="col s12">
    <h2>Home</h2>
  </div>

  <div class="col s12">
    <button (click)="startCooking()" class="waves-effect waves-light btn" [disabled]="cs.status"><i class="material-icons left">play_circle_outline</i>Start Cooking</button>
    <button (click)="stopCooking()" class="waves-effect waves-light btn" [disabled]="!cs.status"><i class="material-icons left">stop</i>Stop Cooking</button>
  </div>
</div>

<div class="row">
  <div class="input-field col s6">
    <input id="temperature" type="number" [(ngModel)]="temperature">
    <label for="temperature">Temperature</label>
  </div>
</div>

<div class="row">
  <chart></chart>
</div>
