<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">SuViCoCo</a>
      <ul class="right" >
        <li><span></span></li>
        <li *ngIf="cs.isConnected"><span class="new badge green" data-badge-caption="">Connected</span></li>
        <li *ngIf="!cs.isConnected"><span class="new badge red" data-badge-caption="">Disconnected</span></li>
      </ul>
      <!--<ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/">Home</a></li>
      </ul>-->
      <ul class="right hide-on-large-only">
        <li><a materialize="dropdown" class="dropdown-button" data-beloworigin="true" data-activates="dropdown-menu"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </div>
</nav>

<ul id="dropdown-menu" class="dropdown-content">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="">Programme</a></li>
  <li><a routerLink="">Rezepte</a></li>
</ul>

<div *ngIf="loadingActive">
  <loading-linear></loading-linear>
</div>
